body {
	margin: 0;
	padding: 0;
	color: #222;
	background-color: #eee;
	font-family: "Segoe UI", Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Segoe UI Light", "Segoe UI", Arial, sans-serif;
	font-weight: normal;
}
h2#title {
	margin: 0;
	padding: 0 1em;
}
div.topbar {
	position: fixed;
	background-color: #333;
	color: #fff;
	width: 100%;
	height: 4em;
	box-shadow: 0 0 0.5em gray;
	top: 0;
	left: 0;
	border-collapse: collapse;
	min-width: 800px;
}
div.navbar {
	height: 4em;
	width: 50%;
	float: left;
}
div.lefttopbar {
	width: 30%;
	height: 4em;
	float: left;
}
div.content {
	margin: 4em auto auto auto;
	padding: 1em;
	border: 2px solid #ddd;
	border-top: none;
	background-color: #fff;
	min-width: 400px;
	width: 55%;
}
a {
	color: #55a;
	transition: color 0.25s;
	text-decoration: none;
}
a:hover, a:focus {
	color: #77f;
	text-decoration: underline;
}
a:focus {
	outline: 1px dotted black;
}
a.button {
	background-color: #36f;
	border: 0px solid #222;
	border-radius: 0.5em;
	color: white;
	padding: 0.5em;
	font-size: 1.125em;
	font-family: "Segoe UI Light", "Segoe UI", Arial, sans-serif;
	text-decoration: none;
	transition: background-color 0.5s;
	outline: none;
}
a.button:hover, a.button:focus {
	background-color: #12f;
	color: white;
}
a.button:focus {
	text-decoration: underline;
}
a.navbarl, a.navbarr, a.navbar {
	border-bottom: 0.25em solid black;
	border-right: 0.0625em solid gray;
	border-left: 0.0625em solid gray;
	border-collapse: collapse;
	height: 3.75em;
	padding: 0 1em;
	float: left;
	align-items: center;
	display: flex;
	color: white;
	text-decoration: none;
	transition: background-color 0.25s, inherit;
	outline: none;
}
a.navbarl {
	border-left: 0.125em solid gray;
}
a.navbarr {
	border-right: 0.125em solid gray;
}
a.navbar:hover, a.navbarr:hover, a.navbarl:hover, a.navbar:focus, a.navbarr:focus, a.navbarl:focus {
	color: #ddd;
	background-color: #222;
}
a.navbar:focus, a.navbarr:focus, a.navbarl:focus {
	text-decoration: underline;
}
a#home {
	color: #aaf;
	align-items: center;
	display: flex;
	height: 4em;
	float: right;
	text-decoration: none;
	outline: none;
}
a#home:hover, a#home:focus {
	color: #eef;
}
a#home:focus {
	text-decoration: underline;
}
ul.projects {
	list-style-type: none;
	padding-left: 1em;
}