html, body {
	margin: 0;
	font-family: "Segoe UI", Arial, sans-serif;
	font-weight: normal;
	background-color: #eee;
}

a {
	color: #66c;
	text-decoration: none;
	transition: color 0.25s;
}

a:hover, a:focus {
	color: blue;
	text-decoration: underline;
}

div#header {
	background-color: #333;
	box-shadow: 0 0 8px black;
	position: fixed;
	width: 100%;
	top: 0;
	height: 64px;
	max-height: 64px;
	min-height: 64px;
	white-space: nowrap;
}

div#header a {
	color: #eee;
	text-decoration: none;
	padding: 16px;
	display: inline-block;
	vertical-align: top;
	height: 32px; /* 16px padding on top and bottom, 64-16-16 = 32 */
}

div#header a.navbar {
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 4px solid gray;
	padding-bottom: 12px;
	background-color: #333;
	transition: background-color 0.25s, color 0.25s;
}

div#header a.navbar:hover, div#header a.navbar:focus {
	color: #ddd;
	background-color: #222;
	text-decoration: none;
}

div#header a#home {
	color: #aaf;
	text-decoration: none;
	border-right: 1px solid gray;
}

div#header a#home:hover, div#header a#home:focus {
	color: white;
}

div#header h3, div#header h2 {
	margin: 0;
}

div#header a.navbar h3 {
	position: relative;
	bottom: -4px;
}

div#header ul li, div#header ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 100%;
	list-style-type: none;
	white-space: nowrap;
	vertical-align: top;
}

div#borderfill {
	width: 1px;
	height: 100%;
	background-color: gray;
	margin: 0;
	padding: 0;
	display: inline-block;
}

div#header-center {
	width: 60%;
	margin: auto;
	min-width: 400px;
	height: 100%;
}

div#content {
	margin: 64px auto auto auto;
	padding: 0px 16px 16px 16px;
	width: 55%;
	min-width: 400px;
	border: 2px solid #ddd;
	border-top: none;
	background-color: white;
	overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}

p {
	text-align: justify;
}

img {
	max-width: 100%;
	display: block;
	margin: 16px auto;
	box-shadow: 0 0 8px gray;
}

ul.project-list {
	list-style-type: none;
	padding-left: 16px;
}

ol.contents-list {
	counter-reset: section;
	list-style: none;
	padding-left: 20px;
}

ol.contents-list li:before {
	counter-increment: section;
	content: counter(section) ". ";
}

ol.contents-sublist {
	counter-reset: subsection;
	list-style: none;
	padding-left: 20px;
}

ol.contents-sublist li:before {
	counter-increment: subsection;
	content: counter(section) "." counter(subsection) ". ";
}

input[type=email] {
	width: 50%;
}

textarea {
	min-width: 50%;
	max-width: 50%;
	font-family: sans-serif;
	padding-left: 1px;
	padding-right: 1px;
}

a.scrollitem {
	position: relative;
	top: -64px;
	display:block;
	visibility: hidden;
}

code, pre {
	font-family: "Source Code Pro", Consolas, "Courier New", Courier, monospace;
}

pre {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	background-color: #333;
	padding: 8px;
	border: 1px solid #777;
	border-radius: 4px;
	color: #eee;
	white-space: pre-wrap;
}

.code-comment {
	color: #888;
}

.code-keyword {
	color: #f95;
}

.code-type {
	color: #7e8;
}

.code-var {
	color: #6bf;
}

.code-func {
	color: #ff5;
}

.code-literal {
	color: #e66;
}

.code-constant {
	color: #6bf;
	font-style: italic;
}

.timestamp {
	margin-top: 8px;
	font-size: 55%;
	font-weight: bold;
}

.timestamp::before {
	content: "Posted: ";
}
