html, body {
	margin: 0;
	font-family: "Segoe UI", Arial, sans-serif;
	font-weight: normal;
	background-color: #eee;
}

a {
	color: #66c;
	text-decoration: none;
	transition: color 0.25s;
}

a:hover, a:focus {
	color: blue;
	text-decoration: underline;
}

header {
	background-color: #333;
	box-shadow: 0 0 8px gray;
	position: fixed;
	width: 100%;
	top: 0;
	height: 64px;
	max-height: 64px;
	min-height: 64px;
	white-space: nowrap;
}

header a {
	color: #eee;
	text-decoration: none;
	padding: 16px;
	display: inline-block;
	vertical-align: top;
}

header a.navbar {
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 4px solid gray;
	padding-bottom: 12px;
	height: 32px;
	background-color: #333;
	transition: background-color 0.25s, inherit;
}

header a.navbar:hover, header a.navbar:focus {
	color: #ddd;
	background-color: #222;
	text-decoration: none;
}

header a.navbar#left {
	border-left: 2px solid gray;
}

header a.navbar#right {
	border-right: 2px solid gray;
}

header a#home {
	color: #aaf;
	margin-left: 20%;
	text-decoration: none;
}

header a#home:hover, header a#home:focus {
	color: white;
}

header h3, header h2 {
	margin: 0;
}

header a.navbar h3 {
	position: relative;
	bottom: -4px;
}

header ul li, header ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 100%;
	list-style-type: none;
	white-space:
}

div#content {
	margin: 64px auto auto auto;
	padding: 0px 16px 16px 16px;
	width: 55%;
	min-width: 400px;
	border: 2px solid #ddd;
	border-top: none;
	background-color: white;
	overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}

p {
	text-align: justify;
}

img {
	max-width: 100%;
}

ul.project-list {
	list-style-type: none;
	padding-left: 16px;
}
